<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/3bbd4a65-7abf-4cb2-8acc-57732cce491e/resourcegroups/FileRepository20231112002606ResourceGroup/providers/Microsoft.Web/sites/FileRepository20231112002606</ResourceId>
    <ResourceGroup>FileRepository20231112002606ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/3bbd4a65-7abf-4cb2-8acc-57732cce491e/resourceGroups/FileRepository20231112002606ResourceGroup/providers/Microsoft.ApiManagement/service/FileRepositoryapi/apis/FileRepository</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://filerepository20231112002606.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>8cf538e6-5b28-498f-aee8-37114921d819</ProjectGuid>
    <MSDeployServiceURL>filerepository20231112002606.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>FileRepository20231112002606</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$FileRepository20231112002606</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>